<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{usuario}}! <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a></p>
        </div>
    </div>
</div>