body {
    margin: 10px auto;
    text-align: center;    
}
.contenedor {
    border: 1px;
    border-style: solid;
    border-color: black;
    display: inline-flex;
    flex-direction: row-reverse;
}

.item {
    height: 100px;
    width: 100px;
    border: 1px;
    margin: 100px 0;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
}

.item:first-child {
    background-color: red;
}

.item:last-child {
    background-color: green;
}

