.historia p {
    font-size: 0.8em;
}

.personas {
    overflow: hidden;
}

.persona {
    border: 1px solid grey;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.5%;
    box-sizing: border-box;
    width: 18%;
    text-align: center;
}

.persona img {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 0.8em 0.1em;
    max-width: 70%;
}

.persona h5, .persona h6 {
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.persona h5 {
    font-size: 0.9em;
}

.persona h6 {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 1em;
}

.persona p {
    text-align: justify;
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
}

.persona:first-child {
    margin-left: 0;
}