.novedades {
    margin-top: 3rem;
}

.novedades hr {
    margin: 3rem 0;
}

.novedades h4 {
    color: #2e64a1;
    font-style: italic;
    font-weight: 500;
    margin: 0.5rem 0;
}

.novedades h3 {
    margin-bottom: 0;
}

.novedades p, h4 {
    line-height: 1.7rem;
    text-align: justify;
}

.novedades img {
    width: 75%;
    height: auto;
    margin: 1.5rem 12.5%;
    text-align: center;
}

.fecha {
    margin: 0;
    font-size: small;
}