header {
    background-color: #2e64a1;
    padding: 1em 0;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 0.8em;
    margin: 0;
}