body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

header {
    background-color: #2e64a1;
    padding: 1em 0;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}