<div class="container">
    <div class="row">
        <form class="login" action="/admin/login" method="post">
            <div class="mb-3 row">
                <div class="col-lg-6">
                    <label for="inputUser" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="inputUser" name="usuario">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-lg-6">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
    {{#if error}}
        <p class="error">Usuario y/o contraseña incorrectos</p>
    {{/if}}
</div>