<div class="container novedades">
    <div class="row mb-5">
        <div class="col">
            <p class="text-end">Hola {{usuario}}! <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-5 text-end">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-end">
                            <a href="#" class="btn btn-sm btn-secondary" title="Modificar"><i class="fa fa-pencil"></i></a>
                            {{#if visible}}
                                <a href="#" class="btn btn-sm btn-secondary" title="Mostrar/Ocultar"><i class="fa fa-eye"></i></a>
                            {{else}}
                                <a href="#" class="btn btn-sm btn-secondary" title="Mostrar/Ocultar"><i class="fa fa-eye-slash"></i></a>
                            {{/if}}
                            <a href="#" class="btn btn-sm btn-secondary" title="Eliminar"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>