body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}