<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a href="/ruta1">Ruta1</a></li>
        <li><a href="/ruta2">Ruta2</a></li>
        <li><a href="/ruta3">Ruta3</a></li>
    </ul>
</nav>
